<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
</head>
<body>
    <h1>¡Hola! Debes iniciar sesión.</h1>
    <form action="login" method="post">
        <input type="text" name="user" id="user" placeholder="Usuario">
        <input type="password" name="pass" id="pass" placeholder="Contraseña">
        <button type="submit">Iniciar Sesión</button>
    </form>
</body>
</html>